:root {
  --logo-color: #7b1e3d;
  --background-color: #faf8f7;
  --font-color: #1b1b1b;
  --accent-color: #cfcfcf;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--font-color);
}
h1,
h2 {
  margin: 0.4em 0;
}
h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3.3em;
  text-decoration: underline;
  text-underline-offset: 0.35em;
  color: var(--logo-color)
}
h2{
  font-size: 2em;
  color: var(--font-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}
.logo-container {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.logo-container img{
    max-height: 10em;
}
optgroup {
  font-style: normal;
}
optgroup,
optgroup option {
  text-transform: capitalize;
}
details{
  padding: 1em 0;
}
summary h4{
  display: inline;
}